body {
    background-image: url('img/back.jpg');
  }

  .contact {
	background-image: url('contact.jpg');
	background-size: cover;
	background-position: center;
	color: white;
	text-align: left;
	padding: 100px 0;
}
.contact h1 {
	font-size: 2em;
	margin-bottom: 90px;
}

.call {
   margin-top: 2%;
  color: maroon;
}