body {
    background-image: url('img/back.jpg');
  }

  .contact {
	background-image: url('contact.jpg');
	background-size: cover;
	background-position: center;
	color: white;
	text-align: left;
	padding: 100px 0;
}
.contact h1 {
	font-size: 2em;
	margin-bottom: 100px;
}

  .sub-nav ul {
    list-style: none;
    display: flex;
  }

  .sub-nav {
    width: 30%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .sub-nav ul li a {
    color: var(--primary-color);
    padding-left: 1.5rem;
  }
  
    /* contact  */
    .contact-form form {
        width: 80%;
      }
      
      .contact-form .row {
        width: 100%;
        display: flex;
      }
      
      .input50 {
        width: 50%;
        margin: 0 10px;
      }
      
      .input100 {
        width: 100%;
        margin: 0 10px;
      }
      
      .contact-form .row input,
      .contact-form .row textarea {
        font-size: 1.2rem;
        font-weight: 300;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        color: var(--color-black);
        padding: 10px;
        outline: none;
        margin: 10px 0;
      }
      
      .contact-form .row textarea {
        height: 150px;
      }
      
      .contact-form .row input[type="submit"] {
        background-color: var(--primary-color);
        color: var(--color-white);
        border: 0;
        cursor: pointer;
      }
      
